@import '../variables';

.home-content {
  padding: 9rem 0 2rem;
}

.typewriter-wrapper {
  min-height: 60px;
  margin: 20px 50px;

  .typewriter {
    font-size: 2.2em;
    color: $highlited-color;
    font-weight: 600;
  }

  @media (max-width: 767px) {
    .typewriter {
      font-size: 1.4em;
      font-weight: 500;
      position: absolute;
    }
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin: 10px 50px 30px;
  
  .contact-button {
    background-color: transparent !important;
    border: 0.2rem solid #0e4e8b !important;
  }
  
  .contact-button:hover {
    background-color: #067bcb !important;
    border-color: #0e4e8b !important;
  }
  
  .download_cv-button {
    border: 0.2rem solid #bc0efb !important;
    background-color: transparent !important;
  }
  
  .download_cv-button:hover {
    border: 0.2rem solid #bc0efb !important;
    background-color: #640e8d !important;
  }
}
